What is DataFrame?

A DataFrame is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. DataFrames are commonly used in data analysis and manipulation tasks.

1. dicionary and list(DataFrame)
2. create Polars and Pandas dataframe
3. convert dataframe

Dictionary

A dictionary is a collection of key-value pairs. Each key is unique and maps to a value. In Python, dictionaries are defined using curly braces `{}`.

In [1]:
# Dictionary
data = {
    "ID": 1,
    "Name": 'Kunal',
    "Age": 25
}

In [2]:
data

{'ID': 1, 'Name': 'Kunal', 'Age': 25}

type() is a built-in function that returns the type of an object.

In [4]:
print(type(data))

<class 'dict'>

Here, type(data) outputs <class 'dict'>, indicating that `data` is a dictionary.

In [5]:
len(data)

3

Using Dictionary in Polars DataFrame

In [7]:
import polars as pl

data = {
    "ID": 1,
    "Name": "Kunal",
    "Age": 25
}

In [8]:
df = pl.DataFrame(data)

In [9]:
df

shape: (1, 3)
┌─────┬───────┬─────┐
│ ID  ┆ Name  ┆ Age │
│ --- ┆ ---   ┆ --- │
│ i64 ┆ str   ┆ i64 │
╞═════╪═══════╪═════╡
│ 1   ┆ Kunal ┆ 25  │
└─────┴───────┴─────┘

In [10]:
type(df)

polars.dataframe.frame.DataFrame

Above type(df) show the df is dataframe class in Polars.

https://docs.pola.rs/api/python/stable/reference/dataframe/index.html