***Reading a CSV File***

In [2]:
import polars as pl

In [10]:
csv_path = './Files/Sample_Superstore.csv'

In [11]:

# Read CSV file
csv_df = pl.read_csv(csv_path)

# Display the DataFrame
print(csv_df)

shape: (9_994, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null          ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-15215 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ null          ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│ 5      ┆ US-2015-10896 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ …      ┆ …             ┆ …          ┆ …          ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 9990   ┆ CA-2014-11042 ┆ 21-01-2014 ┆ 23-01-2014 ┆ … ┆ 25.248   ┆ 3        ┆ 0.2      ┆ 4.1028   │
│        ┆ 2             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9991   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 91.96    ┆ 2        ┆ 0.0      ┆ 15.6332  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9992   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 258.576  ┆ 2        ┆ 0.2      ┆ 19.3932  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9993   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 29.6     ┆ 4        ┆ 0.0      ┆ 13.32    │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9994   ┆ CA-2017-11991 ┆ 04-05-2017 ┆ 09-05-2017 ┆ … ┆ 243.16   ┆ 2        ┆ 0.0      ┆ 72.948   │
│        ┆ 4             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [12]:
csv_df.head(5)

shape: (5, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null          ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-15215 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ null          ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│ 5      ┆ US-2015-10896 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [13]:
csv_df.tail(5)

shape: (5, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬─────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪═════════╪══════════╪══════════╪═════════╡
│ 9990   ┆ CA-2014-110422 ┆ 21-01-2014 ┆ 23-01-2014 ┆ … ┆ 25.248  ┆ 3        ┆ 0.2      ┆ 4.1028  │
│ 9991   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 91.96   ┆ 2        ┆ 0.0      ┆ 15.6332 │
│ 9992   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 258.576 ┆ 2        ┆ 0.2      ┆ 19.3932 │
│ 9993   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 29.6    ┆ 4        ┆ 0.0      ┆ 13.32   │
│ 9994   ┆ CA-2017-119914 ┆ 04-05-2017 ┆ 09-05-2017 ┆ … ┆ 243.16  ┆ 2        ┆ 0.0      ┆ 72.948  │
└────────┴────────────────┴────────────┴────────────┴───┴─────────┴──────────┴──────────┴─────────┘

In [14]:
csv_df.columns

['Row_ID',
 'Order_ID',
 'Order_Date',
 'Ship_Date',
 'Ship_Mode',
 'Customer_ID',
 'Customer_Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal_Code',
 'Region',
 'Product_ID',
 'Category',
 'Sub_Category',
 'Product_Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [15]:
csv_df['Customer_Name']

shape: (9_994,)
Series: 'Customer_Name' [str]
[
	"Claire Gute"
	"Claire Gute"
	"Darrin Van Huff"
	"Sean O'Donnell"
	"Sean O'Donnell"
	…
	"Tom Boeckenhauer"
	"Dave Brooks"
	"Dave Brooks"
	"Dave Brooks"
	"Chris Cortes"
]

In [16]:
csv_df[['Customer_Name']].dtypes

[String]

***Reading Json Files***

In [20]:
# Read JSON file

json_df = pl.read_json('./Files/Second.json')

# Display the DataFrame
print(json_df)

shape: (12_407, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
│ …            ┆ …            ┆ …    ┆ …           │
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655    │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245    │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543    │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992    │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000    │
└──────────────┴──────────────┴──────┴─────────────┘

In [21]:
json_df.head(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
└──────────────┴──────────────┴──────┴─────────────┘

In [22]:
json_df.tail(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬──────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value    │
│ ---          ┆ ---          ┆ ---  ┆ ---      │
│ str          ┆ str          ┆ str  ┆ str      │
╞══════════════╪══════════════╪══════╪══════════╡
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655 │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245 │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543 │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992 │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000 │
└──────────────┴──────────────┴──────┴──────────┘

In [23]:
json_df.columns

['Country Name', 'Country Code', 'Year', 'Value']

In [24]:
json_df['Country Name']

shape: (12_407,)
Series: 'Country Name' [str]
[
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	…
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
]

In [25]:
json_df[['Country Name']].dtypes

[String]

***Reading Parquet Files***

In [27]:

# Read Parquet file
parquet_df = pl.read_parquet('./Files/titanic.parquet')

# Display the DataFrame
print(parquet_df)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [28]:
parquet_df.head(5)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [29]:
parquet_df.tail(5)

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────┬───┬────────────┬───────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Ticket     ┆ Fare  ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---        ┆ ---   ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ str        ┆ f64   ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪════════════╪═══════╪═══════╪══════════╡
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.  ┆ … ┆ 211536     ┆ 13.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas          ┆   ┆            ┆       ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.   ┆ … ┆ 112053     ┆ 30.0  ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith  ┆   ┆            ┆       ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss. ┆ … ┆ W./C. 6607 ┆ 23.45 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele… ┆   ┆            ┆       ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl  ┆ … ┆ 111369     ┆ 30.0  ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell          ┆   ┆            ┆       ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.     ┆ … ┆ 370376     ┆ 7.75  ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick         ┆   ┆            ┆       ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────┴───┴────────────┴───────┴───────┴──────────┘

In [30]:
parquet_df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [32]:
parquet_df['PassengerId']

shape: (891,)
Series: 'PassengerId' [i64]
[
	1
	2
	3
	4
	5
	…
	887
	888
	889
	890
	891
]

In [33]:
parquet_df[['PassengerId']].dtypes

[Int64]

***Using Lazy loading For 1+ Million Data***

In [61]:
import polars as pl

# Lazy loading the Parquet file
df_lazy = pl.read_parquet("./Files/flights-1m.parquet")
# df_lazy = pl.scan_parquet("./Files/flights-1m.parquet")
df_lazy.columns
# df_lazy = pl.scan_parquet("../data/2022/yellow_taxi/*").select(["trip_distance", "store_and_fwd_flag","total_amount"])

['FL_DATE',
 'DEP_DELAY',
 'ARR_DELAY',
 'AIR_TIME',
 'DISTANCE',
 'DEP_TIME',
 'ARR_TIME']

In [62]:
df_lazy = pl.scan_parquet("./Files/flights-1m.parquet").select(['FL_DATE',
 'DEP_DELAY',
 'ARR_DELAY',
 'AIR_TIME',
 'DISTANCE',])
df_lazy

In [63]:
# df_lazy is already a DataFrame at this point, so no need to collect again
# If you want to see the DataFrame, you can just display it:
df_lazy

In [64]:
# Display the result
# df_lazy.columns // gives result with warning
df_lazy.collect_schema().names()

['FL_DATE', 'DEP_DELAY', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE']

In [65]:
# Lazy loading the Parquet file
df_lazy = pl.scan_parquet('../Learning_Polars/Files/*').select(['FL_DATE', 'DEP_DELAY', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE'])

In [74]:
# Collect the result to materialize it as a DataFrame
# Make sure to only scan valid parquet files
df_lazy = pl.scan_parquet('../Learning_Polars/Files/flights-1m.parquet').select(['FL_DATE', 'DEP_DELAY', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE'])
df_lazy = df_lazy.collect(engine="streaming")

In [75]:
df_lazy

shape: (1_000_000, 5)
┌────────────┬───────────┬───────────┬──────────┬──────────┐
│ FL_DATE    ┆ DEP_DELAY ┆ ARR_DELAY ┆ AIR_TIME ┆ DISTANCE │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│ date       ┆ i16       ┆ i16       ┆ i16      ┆ i16      │
╞════════════╪═══════════╪═══════════╪══════════╪══════════╡
│ 2006-01-01 ┆ 5         ┆ 19        ┆ 350      ┆ 2475     │
│ 2006-01-02 ┆ 167       ┆ 216       ┆ 343      ┆ 2475     │
│ 2006-01-03 ┆ -7        ┆ -2        ┆ 344      ┆ 2475     │
│ 2006-01-04 ┆ -5        ┆ -13       ┆ 331      ┆ 2475     │
│ 2006-01-05 ┆ -3        ┆ -17       ┆ 321      ┆ 2475     │
│ …          ┆ …         ┆ …         ┆ …        ┆ …        │
│ 2006-02-20 ┆ 87        ┆ 86        ┆ 71       ┆ 545      │
│ 2006-02-20 ┆ -2        ┆ 0         ┆ 71       ┆ 508      │
│ 2006-02-20 ┆ 33        ┆ 19        ┆ 64       ┆ 508      │
│ 2006-02-20 ┆ 65        ┆ 54        ┆ 65       ┆ 508      │
│ 2006-02-20 ┆ 141       ┆ 135       ┆ 70       ┆ 508      │
└────────────┴───────────┴───────────┴──────────┴──────────┘

In [76]:
df_lazy.head(5)

shape: (5, 5)
┌────────────┬───────────┬───────────┬──────────┬──────────┐
│ FL_DATE    ┆ DEP_DELAY ┆ ARR_DELAY ┆ AIR_TIME ┆ DISTANCE │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│ date       ┆ i16       ┆ i16       ┆ i16      ┆ i16      │
╞════════════╪═══════════╪═══════════╪══════════╪══════════╡
│ 2006-01-01 ┆ 5         ┆ 19        ┆ 350      ┆ 2475     │
│ 2006-01-02 ┆ 167       ┆ 216       ┆ 343      ┆ 2475     │
│ 2006-01-03 ┆ -7        ┆ -2        ┆ 344      ┆ 2475     │
│ 2006-01-04 ┆ -5        ┆ -13       ┆ 331      ┆ 2475     │
│ 2006-01-05 ┆ -3        ┆ -17       ┆ 321      ┆ 2475     │
└────────────┴───────────┴───────────┴──────────┴──────────┘

In [77]:
df_lazy.tail(5)

shape: (5, 5)
┌────────────┬───────────┬───────────┬──────────┬──────────┐
│ FL_DATE    ┆ DEP_DELAY ┆ ARR_DELAY ┆ AIR_TIME ┆ DISTANCE │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│ date       ┆ i16       ┆ i16       ┆ i16      ┆ i16      │
╞════════════╪═══════════╪═══════════╪══════════╪══════════╡
│ 2006-02-20 ┆ 87        ┆ 86        ┆ 71       ┆ 545      │
│ 2006-02-20 ┆ -2        ┆ 0         ┆ 71       ┆ 508      │
│ 2006-02-20 ┆ 33        ┆ 19        ┆ 64       ┆ 508      │
│ 2006-02-20 ┆ 65        ┆ 54        ┆ 65       ┆ 508      │
│ 2006-02-20 ┆ 141       ┆ 135       ┆ 70       ┆ 508      │
└────────────┴───────────┴───────────┴──────────┴──────────┘

In [78]:
df_lazy.columns

['FL_DATE', 'DEP_DELAY', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE']

***We can get the dtype schema of a `LazyFrame` (which is a mapping from column names to dtypes) by calling `schema`***

In [79]:
df_lazy.schema

Schema([('FL_DATE', Date),
        ('DEP_DELAY', Int16),
        ('ARR_DELAY', Int16),
        ('AIR_TIME', Int16),
        ('DISTANCE', Int16)])

### Creating a LazyFrame from data
We can also directly create a `LazyFrame` from a constructor with some data

In [80]:
pl.LazyFrame({"values":[0,1,2]})