Series and DataFrame

DataFrame: A DataFrame is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or a spreadsheet.

Series: A Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a DataFrame.

1. Convert between a Series and a DataFrame column.
2. convert back and forward from python list, dict to Series and DataFrame.

In [10]:
import polars as pl
csv_file = './Files/Sample_Superstore-checkpoint.csv'

In [11]:
df = pl.read_csv(csv_file)

In [18]:
df

shape: (9_994, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null          ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-15215 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ null          ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│ 5      ┆ US-2015-10896 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ …      ┆ …             ┆ …          ┆ …          ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 9990   ┆ CA-2014-11042 ┆ 21-01-2014 ┆ 23-01-2014 ┆ … ┆ 25.248   ┆ 3        ┆ 0.2      ┆ 4.1028   │
│        ┆ 2             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9991   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 91.96    ┆ 2        ┆ 0.0      ┆ 15.6332  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9992   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 258.576  ┆ 2        ┆ 0.2      ┆ 19.3932  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9993   ┆ CA-2017-12125 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 29.6     ┆ 4        ┆ 0.0      ┆ 13.32    │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9994   ┆ CA-2017-11991 ┆ 04-05-2017 ┆ 09-05-2017 ┆ … ┆ 243.16   ┆ 2        ┆ 0.0      ┆ 72.948   │
│        ┆ 4             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [19]:
type(df.head(3))

polars.dataframe.frame.DataFrame

Converting between a Series and a DataFrame column

We can create a Series from a DataFrame column with square brackets. This is useful when you want to extract a single column from a DataFrame as a Series for further processing or analysis.

In [14]:
df["Profit"].head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

In [15]:
type(df["Profit"].head(3))

polars.series.series.Series

We can also create a Series into a one-column DataFrame by using the `to_frame` method. This is useful when you want to convert a Series into a DataFrame for further processing or analysis.

In [16]:
df.select("Profit").to_series().head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

In [17]:
type(df.select("Profit").to_series().head(3))

polars.series.series.Series

We can convert a Series into a one-column DataFrame by using the `to_frame` method. This is useful when you want to convert a Series into a DataFrame for further processing or analysis.

In [22]:
s = df["Customer_Name"]
s.to_frame().head(3)
# type(s.to_frame().head(3))

shape: (3, 1)
┌─────────────────┐
│ Customer_Name   │
│ ---             │
│ str             │
╞═════════════════╡
│ Claire Gute     │
│ Claire Gute     │
│ Darrin Van Huff │
└─────────────────┘

Create a Series or DataFrame from a list or dict

We can creatre a Series or DataFrame from a list or dict. This is useful when you want to create a Series or DataFrame from a list or dict for further processing or analysis.

In [23]:
value = [1, 2, 3, 4, 5]

In [24]:
value

[1, 2, 3, 4, 5]

In [25]:
type(value)

list

In [26]:
pl.Series(value)

shape: (5,)
Series: '' [i64]
[
	1
	2
	3
	4
	5
]

In [27]:
type(pl.Series(value))

polars.series.series.Series

if the namme argument is not set then it defaults to an empty string. This is useful when you want to create a Series or DataFrame from a list or dict without specifying a name.

In [28]:
pl.Series('vals', value)

shape: (5,)
Series: 'vals' [i64]
[
	1
	2
	3
	4
	5
]

We can also convert a Series to a list with to_list

In [33]:
# pl.Series(name='vals', values=value)
pl.Series(name='vals', values=value).to_list()

[1, 2, 3, 4, 5]

In [35]:
# Checking the type of the list created from the Series
type(pl.Series(name='vals', values=value).to_list())

list